.about{

padding:120px 9%;

background:#091321;

color:white;

}

.section-header{

text-align:center;

margin-bottom:70px;

}

.section-header span{

color:#38bdf8;

font-weight:600;

letter-spacing:2px;

}

.section-header h2{

font-size:3rem;

margin-top:15px;

}

.section-header h2 span{

color:#38bdf8;

}

.about-container{

display:grid;

grid-template-columns:1.2fr 1fr;

gap:60px;

align-items:center;

}

.about-text p{

color:#cbd5e1;

font-size:18px;

line-height:1.9;

margin-bottom:25px;

}

.about-cards{

display:grid;

gap:25px;

}

.about-card{

background:rgba(255,255,255,.05);

backdrop-filter:blur(15px);

border:1px solid rgba(255,255,255,.08);

padding:30px;

border-radius:20px;

transition:.35s;

}

.about-card:hover{

transform:translateY(-10px);

border-color:#38bdf8;

box-shadow:0 15px 40px rgba(56,189,248,.2);

}

.about-icon{

font-size:2rem;

color:#38bdf8;

margin-bottom:20px;

}

.about-card h3{

margin-bottom:12px;

}

.about-card p{

color:#cbd5e1;

line-height:1.8;

}

@media(max-width:900px){

.about-container{

grid-template-columns:1fr;

}

.section-header h2{

font-size:2.5rem;

}

}