body{
    cursor:none;
}

/* Canvas */

.cursor-canvas{
    position:fixed;
    inset:0;
    pointer-events:none;
    z-index:9997;
}

/* Dot */

.cursor-dot{

    position:fixed;

    width:8px;
    height:8px;

    background:#7dd3fc;

    border-radius:50%;

    pointer-events:none;

    z-index:10000;

    box-shadow:
        0 0 10px #38bdf8,
        0 0 25px #38bdf8;
}

/* Glow */

.cursor-glow{

    position:fixed;

    width:120px;
    height:120px;

    border-radius:50%;

    pointer-events:none;

    z-index:9998;

    background:
    radial-gradient(circle,
    rgba(56,189,248,.18),
    rgba(56,189,248,.08),
    transparent 70%);

    filter:blur(20px);

    transition:
    width .3s,
    height .3s,
    background .3s;
}

/* Hover */

.cursor-hover{

    width:170px;

    height:170px;

    background:
    radial-gradient(circle,
    rgba(56,189,248,.28),
    rgba(56,189,248,.08),
    transparent 75%);
}

/* Mobile */

@media(max-width:768px){

body{

cursor:auto;

}

.cursor-dot,
.cursor-glow,
.cursor-canvas{

display:none;

}

}