.education{

padding:110px 8%;

background:

radial-gradient(circle at top right,
rgba(56,189,248,.08),
transparent 40%),

radial-gradient(circle at bottom left,
rgba(99,102,241,.08),
transparent 40%),

#08111F;

color:white;

}

/* ---------------- */

.education-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(340px,1fr));

gap:35px;

margin-top:70px;

}

/* ---------------- */

.education-card{

position:relative;

overflow:hidden;

padding:38px;

border-radius:26px;

background:rgba(255,255,255,.05);

backdrop-filter:blur(18px);

border:1px solid rgba(255,255,255,.08);

transition:.45s;

}

.education-card::before{

content:"";

position:absolute;

width:220px;

height:220px;

border-radius:50%;

background:

radial-gradient(#38BDF8,transparent);

opacity:.08;

right:-120px;

top:-120px;

transition:.5s;

}

.education-card:hover::before{

transform:scale(1.6);

}

.education-card:hover{

transform:

translateY(-12px)

scale(1.02);

border-color:#38BDF8;

box-shadow:

0 25px 60px rgba(56,189,248,.22);

}

/* ---------------- */

.education-icon{

width:80px;

height:80px;

border-radius:22px;

display:flex;

justify-content:center;

align-items:center;

font-size:38px;

background:rgba(255,255,255,.05);

border:1px solid rgba(255,255,255,.08);

margin-bottom:25px;

transition:.4s;

}

.education-card:hover .education-icon{

transform:

rotate(-8deg)

scale(1.12);

}

.education-year{

display:inline-block;

padding:8px 18px;

background:rgba(56,189,248,.12);

border-radius:40px;

color:#38BDF8;

font-weight:700;

margin-bottom:22px;

}

.education-card h3{

font-size:28px;

line-height:1.4;

margin-bottom:12px;

}

.education-card h4{

color:#CBD5E1;

font-size:18px;

margin-bottom:25px;

}

.education-score{

display:flex;

align-items:center;

gap:12px;

padding:15px 20px;

border-radius:14px;

background:rgba(56,189,248,.08);

border:1px solid rgba(56,189,248,.15);

color:#38BDF8;

font-weight:700;

}

.education-score svg{

font-size:20px;

}

/* ---------------- */

@media(max-width:900px){

.education-grid{

grid-template-columns:1fr;

}

}

@media(max-width:600px){

.education{

padding:90px 6%;

}

.education-card{

padding:28px;

}

.education-card h3{

font-size:23px;

}

}