html{
    scroll-behavior:smooth;
}
.theme-toggle{

    width:48px;

    height:48px;

    display:flex;

    justify-content:center;

    align-items:center;

    border-radius:50%;

    cursor:pointer;

    margin-right:20px;

    color:#fff;

    background:rgba(255,255,255,.08);

    border:1px solid rgba(255,255,255,.15);

    transition:.35s;

}

.theme-toggle:hover{

    background:#38BDF8;

    color:#08111f;

    transform:rotate(180deg);

}
.navbar{

    position:fixed;

    top:0;
    left:0;

    width:100%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:22px 7%;

    background:rgba(10,15,25,.75);

    backdrop-filter:blur(20px);

    border-bottom:1px solid rgba(255,255,255,.08);

    z-index:999;

    transition:.35s;
}

.logo{

    font-size:34px;

    font-weight:800;

    color:#38BDF8;

    letter-spacing:2px;

    cursor:pointer;

    transition:.3s;

}

.logo:hover{

    transform:scale(1.05);

}

.nav-links{

    display:flex;

    align-items:center;

    gap:40px;

    list-style:none;

}

.nav-links li{

    position:relative;

}

.nav-links a{

    position:relative;

    color:#fff;

    text-decoration:none;

    font-size:18px;

    font-weight:600;

    letter-spacing:.5px;

    transition:.3s;

}

.nav-links a:hover{

    color:#38BDF8;

}

.nav-links a::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-8px;

    width:0%;

    height:3px;

    border-radius:50px;

    background:#38BDF8;

    transition:.35s ease;

}

.nav-links a:hover::after{

    width:100%;

}

.active{

    color:#38BDF8 !important;

}

.active::after{

    width:100% !important;

}

.menu-icon{

    display:none;

    color:white;

    font-size:32px;

    cursor:pointer;

}

/* ---------- MOBILE ---------- */

@media(max-width:900px){

.menu-icon{

display:block;

}

.nav-links{

position:fixed;

top:82px;

left:-100%;

width:100%;

background:#0B1220;

flex-direction:column;

gap:35px;

padding:45px 0;

transition:.4s;

}

.active-menu{

left:0;

}

.nav-links a{

font-size:22px;

}

}